.wrap {
  .title {
    font: var(--font-bold);
    margin: 16px 0 8px;
  }

  .button {
    margin: 8px 0;
    display: flex;
    justify-content: flex-end;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
    font-size: 15px;

    tr {
      &:nth-child(even) {
        background-color: var(--color-lightblue);

        td:last-child {
          // background-color: var(--color-white);
        }
      }

      &:nth-child(odd) {
        td:last-child {
          background-color: var(--color-white);
          // background-color: var(--color-lightgreen);
        }
      }
    }

    th,
    td {
      padding: 4px;
      text-align: left;
      border-left: 1px solid var(--color-lightblue);

      &:first-child {
        border-left: none;
      }

      &:last-child {
        background-color: var(--color-lightblue);
        border-right: none;
        text-align: right;
        font-weight: bold;
        border-left: 2px solid var(--color-middleblue);
      }
    }

    th {
      color: var(--color-blue);
    }

    td {
      text-align: right;
      &:last-child {
        color: var(--color-black);
      }
    }
  }
}
