.wrap {
  .dt {
    display: inline-block;
    vertical-align: bottom;
    font: var(--font-bold);
    margin-right: 8px;
  }

  .title {
    margin: 16px 0 8px;

    .dd {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      vertical-align: bottom;
      font: var(--font-large);
      text-decoration: underline;
    }
  }

  .team {
    display: flex;

    .dd {
      margin-bottom: 8px;

      &:first-child {
        text-decoration: underline;
      }
    }
  }

  .button {
    margin: 8px 0;
    display: flex;
    justify-content: flex-end;
  }
}
