.wrap {
  display: inline-block;
  padding: 8px 32px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--color-grey);
  color: var(--color-black);
  font: var(--font-large);

  svg {
    margin-right: 8px;
    color: var(--color-blue);
  }

  &.small {
    font: var(--font-base);
    width: auto;
  }

  &.borderless {
    border-color: transparent;
  }

  &.invert {
    color: var(--color-white);
    background: var(--color-black);
    border-color: var(--color-black);
  }

  &.disabled {
    color: black;
    background: var(--color-grey);
  }
}
