.wrap {
  font: var(--font-large);
  padding: 12px 24px 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: none;
  border-bottom: 2px solid var(--color-grey);
  outline: none;

  &:focus {
    border-color: var(--color-green);
    background-color: rgba(0, 0, 0, 0.025);
  }

  &.errored {
    border-color: var(--color-red);
  }
}
