.wrap {
  display: block;
  padding-left: 40px;
  position: relative;
  user-select: none;

  label {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 28px;
      width: 28px;
      background-color: var(--color-grey);
      border-radius: 100%;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    .checkmark:after {
      top: 7px;
      left: 7px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: white;
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ .checkmark {
      background-color: var(--color-blue);
    }

    .asterisk {
      color: var(--color-blue);
    }
  }
}
