.wrap {
  .header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .plate {
      display: flex;
      align-items: center;
    }

    .logo {
      height: 40px;
    }

    .username {
      padding-left: 16px;
      font: var(--font-title);
    }

    .logout {
      font-size: 28px;
      padding-right: 8px;
      color: var(--color-blue);
    }
  }

  .button {
    margin-bottom: 8px;
  }

}
