.wrap {
  .header {
    display: flex;
    // justify-content: sp;
    align-items: center;
    height: 40px;
    margin-bottom: 32px;

    .logo {
      height: 40px;
      margin-right: 8px;
    }

    h3 {
      text-align: center;
      font: var(--font-title);
    }
  }

  input {
    margin: 8px 16px;
  }

  .plate {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .link {
      color: var(--color-black);
    }
  }
}
