.wrap {
  justify-content: center;
  align-items: center;

  img {
    width: 75px;
    min-height: 100px;
    
    &.revert {
      transform: scaleX(-1) scaleY(-1);
    }
  }

  .href {
    cursor: pointer;
    background: linear-gradient(90deg, var(--color-blue), var(--color-green));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20%;
  }
}
