.wrap {
  .top {
    position: fixed;
    top: 0;
    padding: 12px 0 24px;
    width: calc(100% - 24px);
    max-width: 640px;
    // background: var(--color-white);
    z-index: 99;
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--color-white) 90%, transparent);

    .header {
      font: var(--font-title);
      background: var(--color-lightblue);
      padding: 8px;
      // text-align: center;
      color: var(--color-blue);
    }

    .title {
      margin: 4px 0;
      font: var(--font-large);
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .scrollView {
    margin-top: 160px;

    .team {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 16px;
      padding: 16px;

      .title {
        display: block;
        font: var(--font-large);
        color: var(--color-blue);
      }

      .users {
        list-style: none;
        padding: 0;

        li {
          padding: 4px 0;
        }

        .leader {
          font-weight: bold;
        }
      }
    }
  }
}
