@import url('http://fonts.cdnfonts.com/css/roboto');

:root {
  --color-black: #000;
  --color-white: #ffffff;
  --color-green: hsl(143, 91%, 31%);
  --color-lightgreen: hsl(143, 91%, 92%);
  --color-blue: hsl(212, 45%, 49%);
  --color-middleblue: hsl(212, 45%, 70%);
  --color-lightblue: hsl(212, 45%, 92%);
  --color-red: hsl(0, 100%, 47%);
  --color-grey: lightgrey;
  --color-lightgrey: #f0f0f0;


  --font-base: normal 400 16px/120% "Roboto";
  --font-large: normal 400 20px/120% "Roboto";
  --font-bold: normal 600 16px/120% "Roboto";
  --font-title: normal 600 20px/120% "Roboto";
}